@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }

    #{$property}: $value;
}

//   .foo:after { content: str-replace('Hello.', '.', '!'); }
@function str-replace($string, $to-replace, $replacement:'') {
    $target-location: str-index($string, $to-replace);

    @if $target-location==null {
        @return $string;
    }

    $string-without-target: str-slice($string, 1, $target-location - 1)+str-slice($string, $target-location + 1);
    $string: str-insert($string-without-target, $replacement, $target-location);
    @return $string;
}

@mixin border-radius($radius) {
    @include prefix(border-radius, $radius, 'webkit''moz');
}

@mixin outline {
    box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0, inset rgba(0, 0, 0, 0.75) 0 1px 0;
}

@mixin box-shadow($args) {
    box-shadow: $args;
}

// @include font-size(16px);
@mixin font-size($size) {
    @if unitless($size) {
        $size: $size * 1px;
    }

    font-size: $size;
    font-size: ($size / 16px) * 1rem;
}

// @include placeholder(black);
@mixin placeholder($color: black) {

    // Firefox
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $color;
    }

    &::-webkit-input-placeholder {
        color: $color;
    }
}

// @include background-image('pattern');
$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

@mixin background-image($name, $size:false) {
    background-image: url(#{$image-path}/#{$name}.svg);

    @if($size) {
        background-size: $size;
    }

    .no-svg & {
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5) {
            background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}

// @include image-2x('../images/image.png', 100%, auto);
@mixin image-2x($image, $width, $height) {

    @media (-webkit-min-device-pixel-ratio: 1.3),
    (min-resolution: 124dpi),
    (min-resolution: 1.3dppx) {
        background-image: url($image);
        background-size: $width $height;
    }
}

// @include line-height(16);
@mixin line-height($height-value: 12) {
    line-height: $height-value * 1px;
    line-height: (1 / ($font-size-base / ($font-size-base * 0 + 1)) * $height-value * 1rem);
}

// @include mquery(350px, 2) {
// 	 width: 100%;
// }
@mixin mquery($width, $ratio: false) {
    @if $ratio {

        @media only screen and (max-width: $width) and (min--moz-device-pixel-ratio: $ratio),
        only screen and (max-width: $width) and (-webkit-min-device-pixel-ratio: $ratio),
        only screen and (max-width: $width) and (min-device-pixel-ratio: $ratio) {
            @content;
        }
    }

    @else {
        @media only screen and (max-width: $width) {
            @content;
        }
    }
}

// @include mquery-r(2) {
// 	 width: 100%;
// }
@mixin mquery-r($ratio) {

    @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
    only screen and (min--moz-device-pixel-ratio: $ratio),
    only screen and (-o-min-device-pixel-ratio: $ratio),
    only screen and (min-device-pixel-ratio: $ratio) {
        @content;
    }
}

// @include text-shadow(rgba(0,0,0,0.5) 0px 1px 0px);
@mixin text-shadow($value) {
    text-shadow: $value;
}

// @include transform(translateX(10px));
@mixin transform($transformation) {
    @include prefix(transform, $transformation, 'webkit''ms');
}

// @include transition(0.3s, ease-in);
@mixin transition($time: 1s, $timing-function: ease-in-out) {
    @include prefix(transition, all $time $timing-function, 'webkit');
}

// User select
// For selecting text on the page
@mixin user-select($select) {
    -webkit-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select; // IE10+
    user-select: $select;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// usage @include position(absolute, $top: 10px, $left: 10px);
@mixin position($position: null, $top: null, $left: null, $bottom: null, $right: null) {
    position: $position;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}

/// Default Html / Body Styles (Browser Reset)
// Html Reset
@mixin htmlreset {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

// Body Style
@mixin bodyreset {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
    background: $body-bg;
    @include font-size($font-size-base);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; //@include light();
}

// Strip Unit
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

// Convert to Rem
@function convert-to-rem($value, $base-value: $font-size-base) {
    $value: strip-unit($value) / strip-unit($base-value) * 1rem;

    @if ($value==0rem) {
        $value: 0;
    }

    @return $value;
}

// .foo {
//   font-size: rem-calc(16);
//   padding: rem-calc(20 10px);
//	 margin: rem-calc(20 10px 0px 10);
// }
@function rem-calc($values, $base-value: $font-size-base) {
    $max: length($values);

    @if $max==1 {
        @return convert-to-rem(nth($values, 1), $base-value);
    }

    $remValues: ();

    @for $i from 1 through $max {
        $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }

    @return $remValues;
}

@mixin arrow ($color, $size, $direction: top, $el: ':after') {
    $_color: nth($color, 1);
    $_size: nth($size, 1);
    $_border-side: "border-bottom-color";

    @if length($color)==2 {
        $_size2: $_size;

        @if length($size)==2 {
            $_size2: nth($size, 2);
        }

        @include arrow(nth($color, 2), $_size2, $direction, ':before');
    }

    @if $direction=="right" {
        $_border-side: "border-left-color";
    }

    @else if $direction=="bottom" {
        $_border-side: "border-top-color";
    }

    @else if $direction=="left" {
        $_border-side: "border-right-color";
    }

    &#{$el} {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: solid transparent;
        #{$_border-side}: $_color;
        border-width: $_size;
        pointer-events: none;
    }
}