.hidden {
    display:none;
}
.hotel-item {
    border:1px solid #e5e5e5;
    margin-top:20px;
    font-size:0;
    .top {
        background:#f5f5f5;
        padding:7px 15px;
        display:inline-block;
        width:100%;
        .title {
            @include font-size(18px);
            float:left;
            padding:10px 0;
        }
        .score {
            float:right;
            @media (max-width:769px) {
                display:none;
            }
            .col1,.col2 {
                display:inline-block;
                vertical-align:middle;
            }
            .col1 {
                text-align:right;
                .point-text {
                    color:#87a52c;
                    font-weight:600;
                    @include font-size(15px);
                    display:block;
                    line-height:21px;
                }
                .review-count {
                    @include font-size(12px);
                    display:block;
                    line-height:17px;
                    color:#969696;
                }
            }
            .customer-score {
                color:#fff;
                background-color:#87a52c;
                width:33px;
                height:29px;
                line-height:29px;
                text-align:center;
                border-radius:4px;
                margin-left:8px;
                @include font-size(18px);
                font-weight:600;
            }
        }
    }
    .col-left {
        .images {
            min-height:240px;
            position:relative;
            overflow:hidden;
            @media (max-width:769px) {
                max-height:167px;
                min-height:167px;
            }
            img {
                max-height:100%;
                height:100%;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                @media (max-width:769px) {
                    max-height:initial;
                    height:auto;
                    width:100%;
                }
            }
        }
        .badge-list {
            position:absolute;
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            align-items:flex-start;
            bottom:10px;
            left:25px;
            .item {
                @include font-size(12px);
                display:flex;
                align-items:center;
                height:20px;
                padding:3px;
                border-radius:2px;
                line-height:20px;
                color:#fff;
                margin-top:5px;
                img {
                    max-width:13px;
                    margin-right:3px;
                }
                &.orange {
                    background-color:#fa6400;
                }
                &.green {
                    background-color:#71c684;
                }
            }
        }
    }
    .col-center {
        padding:10px 0;
        margin-left:-15px;
        margin-right:-15px;
        min-height:240px;
        display:flex;
        flex-direction:column;
        @media (max-width:769px) {
            margin:0;
            padding:10px;
            min-height:auto;
        }
        .hotel-map {
            color:#003466;
            @include font-size(12px);
            display:block;
        }
        .erk-promo {
            @include font-size(16px);
            color:#ffc652;
            font-weight:600;
            margin-top:5px;
            display:block;
            @media (max-width:769px) {
                @include font-size(12px);
            }
        }
        .cancellation-info {
            display:block;
            margin-top:5px;
            @include font-size(14px);
            color:#0d3466;
        }
        .hotel-type {
            width:max-content;
            display:inline-block;
            border-radius:4px;
            border:1px solid #c8ccd8;
            @include font-size(12px);
            font-weight:400;
            line-height:1;
            padding:1px 5px 2px;
            color:#003466;
            margin-top:5px;
            margin-right:5px;
        }
        .hotel-features-list {
            display:block;
            position:relative;
            width:100%;
            margin-top:auto;
            @media (max-width:769px) {
                display:none;
            }
            .list-item {
                display:inline-block;
                width:calc(100% / 3);
                color:#566b80;
                @include font-size(12px);
                margin-top:2px;
                line-height:21px;
                margin-top:2px;
                padding:2px 5px;
                border-radius:4px;
                &:hover {
                    background-color:#e5e5e5;
                }
            }
        }
    }
    .price-detail {
        text-align:center;
        border-left:1px dashed #e5e5e5;
        min-height:240px;
        padding:10px 0;
        display:flex;
        justify-content:center;
        align-items:center;
        @media (max-width:769px) {
            min-height:auto;
        }
        .in {
            display:block;
            .hotel-type {
                color:#003466;
                font-weight:600;
                @include font-size(14px);
                display:block;
            }
            .currency {
                color:#969696;
                font-weight:600;
                position:relative;
                display:inline-block;
                @include font-size(14px);
                margin-top:5px;
                .price-currency {
                    @include font-size(12px);
                }
                &:before {
                    position:absolute;
                    content:"";
                    left:0;
                    top:50%;
                    right:0;
                    border-top:1px solid;
                    border-color:inherit;
                    @include transform(rotate(-5deg))
                }
            }
            .discount-price {
                display:block;
                margin-top:5px;
                @include font-size(22px);
                color:#003466;
                font-weight:700;
                .price-currency {
                    @include font-size(18px);
                }
            }
            .single-text {
                display:block;
                margin-top:5px;
                @include font-size(12px);
                color:#003466;
            }
            .btn {
                display:block;
                margin-top:15px;
                background-color:#003466;
                border-color:transparent;
                color:#fff;
                @include font-size(14px);
                padding:6px 10px;
                border-radius:4px;
            }
        }
    }
}
.pagination {
    display:table;
    margin:30px auto;
    a {
        color:black;
        float:left;
        padding:8px 16px;
        text-decoration:none;
    }
    a.active {
        background-color:#faa800;
        color:white;
        border-radius:5px;
    }
    a:hover:not(.active) {
        background-color:#ddd;
        border-radius: 5px;
    }
}