<div class="container">
	
	<div class="hotel-listing">
		<article class="hotel-item clone hidden">
			<div class="top">
				<h3 class="title">Gravel Hotels</h3>
				<div class="score">
					<div class="col1">
						<span class="point-text">İyi</span>
						<span class="review-count">21 Değerlendirme</span>
					</div>
					<span class="col2 customer-score">7,8</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
					<div class="col-left">
						<figure class="images">
							<img src="https://tatilsepeti.cubecdn.net/Files/Images/Tesis/06706/450x300/tsr06706637344668289393505.jpg">
						</figure>
						<div class="badge-list">
							<span class="item orange"><img src="https://www.tatilsepeti.com/wwwroot/images/icon/icon-payathotel.svg"> Varınca Para</span>
							<span class="item green"><img src="https://www.tatilsepeti.com/wwwroot/images/icon/no-covid-icon.svg"> Sağlık Sertifikalı</span>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-5 col-xs-6">
					<div class="col-center row">
						<span class="hotel-map"> Antalya - Kemer | Merkez</span>
						<span class="erk-promo">Son Dakika Fırsatı %10 İndirim + 12 Taksit </span>
						<span class="cancellation-info">Ücretsiz İptal</span>
						<span class="hotel-type">Butik Otel</span>
						<div class="hotel-features-list">
							<span class="list-item">Çocuk Dostu</span>
							<span class="list-item">Ücretsiz Wifi</span>
							<span class="list-item">Açık Havuz</span>
							<span class="list-item">2 Kapalı Havuz</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="price-detail">
						<div class="in">
							<span class="hotel-type">Herşey Dahil</span>
							<span class="currency">349,<small class="price-currency">00 TL</small></span>
							<span class="discount-price">314,<small class="price-currency">10 TL</small> </span>
							<span class="single-text">Gecelik kişi başı</span>
							<a href="#" target="_blank" class="btn">Detayları İncele</a>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	<div class="pagination">
		<a href="#">&laquo;</a>
		<a href="#">1</a>
		<a href="#" class="active">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">6</a>
		<a href="#">&raquo;</a>
	</div>
</div>